*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}
.location-timezone{
    border: none;
    outline: none;
    font-size: 30px;
    padding: 5px;
    background-color: transparent;
    color: white;
    width: 300px;
}
::placeholder{
    color: rgb(189, 180, 180);
}
.btn{
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
h3{
    font-size: 30px;
}
@media(max-width: 1000px){
    .location{
        justify-content: space-evenly;
    }
    .location-timezone{
        font-size: 20px;
        padding: 0;
        width: 200px;
    }
    .btn{
        font-size: 20px;
    }
}